<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="KollectionsTests" verbose="1">

    <test name="KollectionsUnitTests">
        <classes>

            <class name="lb.kollect.const.ConstListTest"/>
            <class name="lb.kollect.views.JoinViewTest"/>
            <class name="lb.kollect.containers.ArrListTest"/>

        </classes>
    </test>

</suite>        