*.class
*.jar
*.war
*.ear
*.zip

out
dist
coverage
build
**/build
**/target
.gradle
.gradleTemp

*/.gradle
*/.gradleTemp

.idea/workspace.xml

test-db.config
test-db.properties
pom.xml.versionsBackup

