<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/testng.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/testng-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/testng-sources.jar!/" />
    </SOURCES>
  </library>
</component>